<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tech-blog</title>
</head>
<body>
    <header>
        <h1>Tech Blog</h1>
        <section id="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li>Dashboard</li>
                <li><a href='/login'>Login</a></li>
                <li><button>Logout</button></li>
            </ul>
        </section>
    </header>
    {{{body}}}
</body>
</html>