<p>//commentPost</p>

<p>Viewing post with id of</p>
<p id="id">{{post.id}}</p>
<br>

<div class="my-post">
    <p>{{post.post_title}}</p>
    <P>{{post.post_body}}</P>
</div>

<p><a href="/api/comments/form/{{post.id}}">Add a comment here</a></p>