<p>//edit</p>

<p>Commenting on post with id:</p>
<p id="postID">{{postID}}</p>
<p>Commenting as user with id:</p>
<p id="userID">{{userID}}</p>

<form id="comment-form">
    <label for="comment-body">Comment:</label>
    <input type="text" id="comment-body" />
    
    <button type="submit">Submit</button>
</form>

<script src="/js/comment.js"></script>