<p>//Dashboard</p>

{{#each posts as |post|}}
<div>
    <p>{{post.post_title}}</p>
    <P>{{post.post_body}}</P>
    <h6>Comments:</h6>
    {{#each post.comments as |comment|}}
    <p>{{comment.comment_body}}</p>
    {{/each}}
</div>
<br>
{{/each}}