<p>//Homepage</p>

{{#each posts as |post|}}
<div class="border">
    <p>{{post.post_title}}</p>
    <P>{{post.post_body}}</P>
    <p>Posted by: {{post.user.user_name}}</p>
    <h6>Comments:</h6>
    <p>{{post.comment.comment_body}}</p>
</div>
<br>
{{/each}}