{{!-- <p>//Post</p>

<div class="border">
    <p>{{postData.post_title}}</p>
    <P>{{postData.post_body}}</P>
    <p>{{postData.comment.comment_body}}</p>
    <p>Posted by: {{post.user.user_name}}</p>
</div> --}}
